.container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


.form-container {
	padding: 30px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.form-container h2 {
	text-align: center;
	margin-bottom: 20px;
}
